    <!--Footer-->
    <footer class="page-footer center-on-small-only">
          <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                Articles © Copyright 2017 NPR
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
