
<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="http://www.npr.org" class="nav-link">npr Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="/scrape" class="nav-link">Scrape Headlines</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
            <img src="img/npr-logo-color.svg">
            <h1>Headline Scaper</h1> 
            <p>Scaped headlines from npr are stored in MongoDB and rendered below. Leave comments on any article.</p> 
    </div>
</div>


