<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>NPR Scraper</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        
        main {
            margin-top: 3rem;
        }
        
        .lead {
            text-align: justify;
        }
        
        @media only screen and (max-width: 768px) {
            .post-title {
                margin-top: 1rem;
            }
        }
        
        @media only screen and (max-width: 768px) {
            .read-more {
                text-align: center;
            }
        }
        
        .extra-margin {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        
          
        .navbar {
            background-color: #555658;
        }
        
        footer.page-footer {
            background-color: #555658;
            margin-top: 2rem;
        }
    </style>
</head>
<body>
    {{> header }}
    {{{ body }}}
    {{> modals }}
    {{> footer }}
    {{> scripts }}
</body>
</html>