<main>
    <!--Main layout-->
    <div class="container" id="pageBg">
        <!--Page heading-->
        <div class="row wow fadeIn" data-wow-delay="0.2s">
            <div class="col-md-12">
                <h1 class="h1-responsive">Scrape Completed
                </h1>
                <a href="/" class="btn btn-primary">Return to Article List</a>
            </div>
        </div>
    </div>
    <hr class="extra-margin">
    </div>
    <!--/.Main layout-->
</main>
